@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Tangerine&display=swap');




* {
    color: black;
    padding: 0px;
    margin: 0px;
}

header {
    height: 170px;

}

.header-link {
    text-decoration: none;
}


.header-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;

}

.navigation-bar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    list-style-type: none;
}

.navigation-bar>li {
    text-decoration: none;
    font-size: 25px;
}

.navigation-bar>li>a {
    text-decoration: none;
}

.navigation-bar>li>a>i {
    font-size: 1.2rem;
}

.navigation-bar {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.navigation-bar * {
    box-sizing: border-box;
}

.navigation-bar li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}

.navigation-bar a {
    padding: 0.5em 0;
    color: rgb(0, 0, 0);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}

.navigation-bar a:before,
.navigation-bar a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.navigation-bar a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #2980b9;
}

.navigation-bar a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);

    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.navigation-bar a:hover:before,
.navigation-bar .current a:before {
    opacity: 1;
    width: 100%;
}

.navigation-bar a:hover:after,
.navigation-bar .current a:after {
    max-width: 100%;
}

body {
    background-color: #e5e5e5;
}

.facilities-header {
font-size: 30px;
text-align: center;
}

.facilities-text {
border:solid;
}

#image-container {
    width: 200px;
    height: 200px;
    margin: 30px;
    
  }
  
  #image-container > img {

    border: 2px solid rgb(0, 0, 0);
    width: 35%;
    margin: 2px;
  }

 /* Footer */

.footer {
    background: #dad4d4;
    padding: 18px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #1a95b4;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 1px 10px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}
