@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
color:black;
padding:0px;
margin:0px;

}

header {
height: 170px;

}

.header-link {
    text-decoration: none;
}


.header-heading {
display: flex;
justify-content: center;
align-items: center;
line-height: normal;
font-family: 'Dancing Script', cursive;
font-size: 50px;

}

.navigation-bar {
margin-top: 40px;
display: flex;
justify-content: center;
align-items: center;
gap:300px;
list-style-type: none;
}

.navigation-bar > li {
text-decoration: none;
font-size: 25px;
    
}

.navigation-bar > li > a{
    text-decoration: none;
}

.navigation-bar > li > a > i {
font-size: 1.2rem;
}

.hero-section {
background-image: url('../images/spa-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
 
}